<form [formGroup]="resourceRequestForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>Resource Request</h1>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="dateOfRequest">Date of Request</label>
                <input class="form-control" placeholder="yyyy/mm/dd" id="dateOfRequest" [formControlName]="'dateOfRequest'" type="date">
            </div>

            <div class="form-group col-md">
                <label class="control-label" for="timeOfRequest">Time of Request</label>
                <input class="form-control" id="timeOfRequest" type="time" formControlName="timeOfRequest">
            </div>

            <div class="form-group col-md">
                <label class="control-label" for="trackingNumber">Tracking Number</label>
                <input class="form-control" id="trackingNumber" type="text" formControlName="trackingNumber">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <div class="control-label">Priority</div>
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-check-input" id="emergency" type="radio" formControlName="priority" value="1">
                        <label class="form-check-label ml-3 ml-sm-0" for="emergency">Emergency</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" id="priority" type="radio" formControlName="priority" value="2">
                        <label class="form-check-label ml-3 ml-sm-0" for="priority">Priority</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" id="routine" type="radio" formControlName="priority" value="3">
                        <label class="form-check-label ml-3 ml-sm-0" for="routine">Routine</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="requestorsCommunity">Requestor's Community</label>
                <select class="form-control" id="requestorsCommunity" formControlName="requestorsCommunity">
                    <option></option>
                    <option>Community1</option>
                    <option>Community1</option>
                </select>
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="requestorsContactInfo">Requestor's Contact Info</label>
                <textarea class="form-control" id="requestorsContactInfo" type="text" formControlName="requestorsContactInfo" rows="3">
                </textarea>
            </div>
        </div>

        <hr/>
        <legend>What is being Requested</legend>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="resourceCategory">Resource Category</label>
                <select class="form-control" id="resourceCategory" formControlName="resourceCategory">
                    <option></option>
                    <option value="1">Category1</option>
                    <option value="2">Category2</option>
                </select>
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="resourceType">* Resource Type</label>
                <select class="form-control" id="resourceType" formControlName="resourceType">
                    <option value="">Please Select</option>
                    <option value="1">Type1</option>
                    <option value="2">Type2</option>
                </select>
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="quantity">* Quantity</label>
                <input class="form-control" id="quantity" type="number" formControlName="quantity">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="unitsOfMeasure">Units of Measure</label>
                <select class="form-control" id="unitsOfMeasure" formControlName="unitsOfMeasure">
                    <option value=""></option>
                    <option value="1">Units1</option>
                    <option value="2">Units2</option>
                </select>
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="whenRequired">When Required</label>
                <input class="form-control" placeholder="yyyy/mm/dd" id="whenRequired" [formControlName]="'whenRequired'" type="date">
            </div>
            <div class="form-group col-md">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="mission">Mission (Purpose of the resource)</label>
                <textarea class="form-control" id="mission" formControlName="mission" rows="3"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <div class="control-label">Resource Must Come With</div>
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="fuel" formControlName="fuel">
                        <label class="form-check-label ml-3 ml-sm-0" for="fuel">Fuel</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="meals" formControlName="meals">
                        <label class="form-check-label ml-3 ml-sm-0" for="meals">Meals</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="operators" formControlName="operators">
                        <label class="form-check-label ml-3 ml-sm-0" for="operators">Operator(s)</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="water" formControlName="water">
                        <label class="form-check-label ml-3 ml-sm-0" for="water">Water</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="maintenance" formControlName="maintenance">
                        <label class="form-check-label ml-3 ml-sm-0" for="maintenance">Maintenance</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="lodging" formControlName="lodging">
                        <label class="form-check-label ml-3 ml-sm-0" for="lodging">Lodging</label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="power" formControlName="power">
                        <label class="form-check-label ml-3 ml-sm-0" for="power">Power</label>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        <legend>Delivery Location</legend>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="location">Location / Site Name</label>
                <input class="form-control" id="location" type="text" formControlName="location">
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="apt">Apt or Lot Number</label>
                <input class="form-control" id="apt" type="text" formControlName="apt">
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="streetAddress">Street Address</label>
                <input class="form-control" id="streetAddress" type="text" formControlName="streetAddress">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="city">City</label>
                <input class="form-control" id="city" type="text" formControlName="city">
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="province">Province</label>
                <input class="form-control" id="province" type="text" formControlName="province">
            </div>
            <div class="form-group col-md">
                <label class="control-label" for="postcode">Postcode</label>
                <input class="form-control" id="postcode" type="text" formControlName="postcode">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md">
                <label class="control-label" for="additionalInformation">Additional Location Information</label>
                <textarea class="form-control" id="additionalInformation" formControlName="additionalInformation" rows="3"></textarea>
            </div>
        </div>

        <button type="submit" [disabled]="!resourceRequestForm.valid" class="btn btn-primary">Submit</button>
    </div>

</form>