.control-label {
    white-space: nowrap;
}

.fileAttachmentsContainer {
    background-image: url("../../assets/images/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 0px auto 0px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.fileAttachmentsContainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.fileAttachmentsContainer-note, .uploadFileErrors {
    width: 80%;
    margin: 0px auto 0px auto;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

@media (min-width: 992px) {
    .submission {
        height: calc(100vh - 151px);
    }
}

@media (max-width: 992px) {
    .submission {
        height: 200px;
    }
}